@{

}

<h1>Add Cheese</h1>
<form method="post">
    <h3>Cheese Name</h3>
    <input name="name" type="text" />
    <h3>Cheese Description</h3>
    <textarea name="description" cols="50" rows="5">
    Enter cheese description here.
    </textarea> <br>
    <input type="submit" value="Add Cheese" />
    
    @if (ViewBag.error == true)
    {
        <br>
        <p>Please only enter letters and spaces. Other characters are invalid.</p>
    }
</form>